.d-tree-container {
  list-style: none;
  padding: 0;
}

.d-tree-node {
  padding: 0.75rem 1.25rem;
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}

.d-flex{
  display: inline;
  padding: 0;
  margin: 0;
}

.subtitle{
  color: gray;
  margin-top: 0.15em;
}

.trow{
  display: inline-table;
  margin-left: 0.625em;
  padding: -1.5em 0;
}

.user{
  color: gray;
  position: static;
  transform: scale(2);
  margin-top: 2em;
  padding: 0;
}
