.d-tree-container {
  list-style: none;
}

.d-tree-content{
  padding: 0;
  margin-top: -3.8em;
  margin-bottom: -2em;
  margin-left: 4em;
}
.d-tree-node table {
  height: 0.01em;
  padding: -5em 0;
}

.d-tree-head{
  display: grid;
  grid-template-columns: 10% 90%;
}

.d-tree-toggler.active {
  transform: rotate(90deg);
}

.d-flex{
  display: inline;
  padding: -1em 0;
  margin: -1em 0;
  /* border-left: 1 px solid #000; */
}

.entries{
  display: grid;
  grid-template-rows: auto;
  margin: 1em;
}

.subtitle{
  color: gray;
  margin-top: -1.7em;
  padding-bottom: -2em;
}

.item{
  /* border-left: 1px solif #000; */
  margin-left: 2em;
}

.child{
  display: grid;
  grid-template-rows: 30% 30% auto;
  /* background-color: crimson; */
}
.pad{
  margin-left: -0.3em;
  padding-left: -0.3em;
}

.grid-item{
  margin: 0.2em 1.5em;
  /* border: 1px dotted #000; */
}

.item:nth-child(odd){
  margin-top: -1em;;
}
.item:nth-child(odd){
  padding-top: 1.1rem;
  margin-left: 2rem;
  /* background-color: lawngreen; */
  padding: -0.5em;
}
/* .grid-item::nth-child(4){
  margin-bottom: 30em;
} */

.grid-item .item{
  margin-top: -0.8em;
}

.chief{
  padding-top: 1.6em;
  transform: scale(2.5);
  /* background-color: cadetblue; */
  /* width: 1.5em;
  margin-right: 1em; */
<<<<<<< HEAD
  border: 1px solid #000;
=======
>>>>>>> aaf2963454d754da73c2c52464e093f5bd2c598d
}

.member{
  padding-top: 1.2em;
  transform: scale(1.5);
  /* margin-right: -0.1em; */
}

/* .toggler{
  grid-column: 1/1;
<<<<<<< HEAD
}

.icon{
  grid-column: 3/1;
}

=======
}

.icon{
  grid-column: 3/1;
}

>>>>>>> aaf2963454d754da73c2c52464e093f5bd2c598d
.content{
  grid-column: 4/8; 
}*/

