.d-tree-container {
  list-style: none;
}

.d-tree-content{
  padding: 0;
  margin-top: -3.8em;
  margin-bottom: -2em;
  border: khaki;
  /* width: 15em; */
  /* height: 5em; */
  /* border: 1px solid #000; */
}
.d-tree-node table {
  /* padding: -0.75rem -1.25rem; */
  height: 0.01em;
  padding: -5em 0;
  /* border: 1px solid red; */
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}

.d-flex{
  display: inline;
  padding: -1em 0;
  margin: 0;
}

.subtitle{
  color: gray;
  margin-top: -1.7em;
  padding-bottom: -2em;
}

.trow{
  height: 0.02em;
  padding: -1em 0;
  display: inline-table;
  margin-left: 0.625em;
}

.tcell{
  padding-bottom: -1em;
  height: 0.5em;
}

.tcell .user{
  transform: scale(2.5);
}