.d-tree-container {
  list-style: none;
}

.d-tree-content{
  position: relative;
  padding-left: -30.5em;
  margin-top: -1em;
  margin-bottom: -2em;
  margin-left: 4.3em;
  border-left: 1px dashed #000;
  /* background-color: blue; */
}
.d-tree-node table {
  height: 0.01em;
  padding: -5em 0;
}
.d-tree-head{
  display: grid;
  grid-template-columns: 10% 90%;
}

.d-tree-toggler.active {
  transform: rotate(90deg);
}

.d-flex{
  display: inline;
  padding: -1em 0;
  margin: -1em 0;
  /* border-left: 1 px solid #000; */
}

.entries{
  display: grid;
  grid-template-rows: auto;
  margin: 1em;
}

.subtitle{
  color: gray;
  margin-top: -1.7em;
  padding-bottom: -2em;
}

.item{
  /* border-left: 1px solif #000; */
  margin-left: 2em;
}

.filler {
  position: absolute;
  left: 0;
  right: 0;
  /* border-bottom: 1px dashed #333; */
  height: 50%;
}

.child{
   display: grid;
   position: relative;
  /*grid-template-rows: 30% 30% auto; */
  padding: -2em 0;
  /* background-color: crimson; */
  /* border: 1px dotted #000; */
  grid-gap: -2em 0;
}
.pad{
  margin-left: -0.3em;
  padding-left: -0.3em;
}

.grid-item{
  margin: 0.2em 1.5em;
  /* border: 1px dotted #000; */
}

.item:nth-child(odd){
  margin-top: -1em;;
}
.item:nth-child(odd){
  padding-top: 1.1rem;
  margin-left: 2rem;
  /* background-color: lawngreen; */
  padding: -0.5em;
}
/* .grid-item::nth-child(4){
  margin-bottom: 30em;
} */

.grid-item .item{
  margin-top: -0.8em;
}

.chief{
  margin-top: 1.6em;
  transform: scale(2.5);
  width: 1.6em;
  height: 0.1em;
  background-color: cadetblue;
  /* width: 1.5em;
  margin-right: 1em; */
  border: 1px solid #fff;
}


.member{
  padding-top: -0.2em;
  transform: scale(1.5);
  /* margin-right: -0.1em; */
  background-color: blanchedalmond;
}
/* .tcell{
  background-color: blanchedalmond;
} */
/* .toggler{
  grid-column: 1/1;
}

.icon{
  grid-column: 3/1;
}

.content{
  grid-column: 4/8; 
}*/

