$color_silver_chalice: #AAA;
$color_tundora: #444;
$color_wild_sand: #F5F5F5;


.expand-collapse-icon {
    cursor: pointer;
}

.chief-icon {
    color: gray;
    width: 2.1875em;
    height: 2.1875em;
    margin-right: 0.3125em;
    margin-left: 1.5em;
    transform: scale(2.5);
}

.member-icon {
    color: gray;
    width: 1.25em;
    height: 1.625em;
    // margin-right: 0.5em;
}

.mr-1{
   margin-left: 0.25em;
}

.flex{
    display: flex;
}

.align-item-center{
    align-items: center;
}

.chief{
    transform: scale(2);
    color: gray;
}

.member{
    color: gray;
}

.name{
    margin-left: -10em;
}

.treeview {
    width: 100%;
    padding: 0.9375em 1.875em 1.875em;
    // border-top: 1px  solid #efefee;
    // border-bottom: 1px solid #efefee;
    // background-color: antiquewhite;
    
	ul {
        width: 100%;
        position: relative;
        margin-left: 1.3125em;
        // background-color: antiquewhite;

        li {
            // float: left;
            width: 100%;
            list-style-type: none;
            // border-left: 1px dashed  $color_tundora;
            // background-color: aquamarine;
            padding: 1.1em 0;
            margin-left: -5.2em;
            margin-bottom: -0.3em;

            .content {
                width: 100%;
                font-family: Arial;
                font-size: 0.9375em;
                color: $color_tundora;
                line-height: 1.5;
                padding-left: 1.25625em;
                position: relative;
                bottom: 1.375em;
                margin-bottom: -2.3em;
                // background-color: blueviolet;

                &:before {
                    content: "";
                    width: 1.875em;
                    height: 1px;
                    // background-color: gold;
                    position: absolute;
                    top: 50%;
                    bottom: 50%;
                    left: 0;
                    // border-bottom: 1px dashed $color_tundora;
                    box-sizing: border-box;
                }
            }
            ul {
                margin: 1.25em 0;
                li {
                    margin-top: -1.6em;
                    margin-bottom: -1.6em;
                    // border-left-color: #000;
                    margin-left: 0.7em;
                    width: calc(100% - 3.215em);

                    .content {
                        color: #000;
                        // background-color: burlywood;
                        padding-left: 1.625em;
                        margin: 0.2em 0;
                        // margin-left: -1.625em;
                        // margin-top: -0.625em;

                        &:before {
                            background-color: #fff;
                            width: 1.875em;
                            // border-bottom: 1px dashed $color_tundora;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}